<!--The whole content below can be removed with the new code.-->
<div class="container">
  <h1>Welecome to this great table app!</h1>
  <p>Insert graph here</p>
  <div class="row">
    <div class="col-md-6">
      <div class="input-group col-md-12">
        <input *ngIf="config.filter"
        [ngTableFiltering]="config.filtering"
        (tableChanged)="onChangeTable(config)"
        type="text"
        class="form-control input-lg"
        placeholder="search for a company">
        <!-- IF not available don't search or update -->
      </div>
    </div>
  </div>
  <ng-table [config]="config"
            (tableChanged)="onChangeTable(config)"
            (cellClicked)="onCellClick($event)"
            [rows]="rows"
            [columns]="columns">
  </ng-table>
</div>
